{{#paper-list}}

  {{#each-in articles.value as |id article|}}
{{log article}}
    {{#paper-item class="md-2-line"}}

      <div class="md-list-item-text">
        <h3>{{article.title}}</h3>
        <p>{{article.terms.description.firstObject}}</p>
      </div>

    {{/paper-item}}

  {{/each-in}}

{{/paper-list}}